* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

div.head {
  background-color: rgb(175, 92, 92);
  width: 15%;
  margin: 0 auto 0 auto;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
li {
  margin-left: 5px;
  margin-right: 5px;
}
ul:first-child {
  margin-left: 15px;
}
li a{
  width: 60%;
  border-color: rgb(52, 235, 125);
  border-radius: 5px solid;
  color: white;
  font-size: 20px;
  font-style: italic;
  text-decoration: none;
}

.mytodo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mytodo input {
  width: 20px;
}
.mytodo p {
  font-family: monospace;
  margin-left: 10px;
  color: rgb(100, 240, 36);
  font-size: 22px;
}